extends layout

block content
      #fh5co-main
        .fh5co-narrow-content
          .row.row-bottom-padded-md
            .col-md-6.animate-box(data-animate-effect='fadeInLeft')
              img.img-responsive(src='/images/img_bg_1.jpg', alt='Free HTML5 Bootstrap Template by FreeHTML5.co')
            .col-md-6.animate-box(data-animate-effect='fadeInLeft')
              h2.fh5co-heading About Amar
              p
                | I've been interested in programming since before highschool. I first did some modding on games, like borderlands and dungeon defender. Thereafter I did 4 semesters in computer science in highschool. As I got more interested in programming, I continued education in college and university. Learned variety of knowledge, like database normalization, web development and different algorithms for searchs and large data.  
              p
                | I've also been an artsy guy, I'm good at designing different things. As i'm still junior developer, I stride to learn new and different various languanges/techonlogies for work or personal hobby.
        .fh5co-narrow-content
          h2.fh5co-heading.animate-box(data-animate-effect='fadeInLeft') Skills
          .row
            .col-md-6
              .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
                .fh5co-icon
                  i.icon-settings
                .fh5co-text
                  h3 Hard Work
                  p
                    | Ability to work with others in teams and listen to instructions by Employer & Supervisor.
            .col-md-6
              .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
                .fh5co-icon
                  i.icon-search4
                .fh5co-text
                  h3 Analyze
                  p
                    | Ability to analyze different options for projects. Make plans before starting any code, to see what is possible to do during development.
            .col-md-6
              .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
                .fh5co-icon
                  i.icon-paperplane
                .fh5co-text
                  h3 New Direction
                  p
                    | Like exploring variety of programming languages and technology.
            .col-md-6
              .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
                .fh5co-icon
                  i.icon-params
                .fh5co-text
                  h3 Modifications
                  p
                    | Started by modding games as a kid, I like debugging and helping others find the problems that occurs with their systems.
            .col-md-6
              .fh5co-feature.animate-box(data-animate-effect='fadeInLeft')
                .LI-profile-badge(data-version='v1', data-size='medium', data-locale='en_US', data-type='horizontal', data-theme='dark', data-vanity='amarpro')
                  a.LI-simple-link(href='https://ca.linkedin.com/in/amarpro?trk=profile-badge') Amar Al-Adil
        .fh5co-narrow-content
          .row
            .col-md-4.animate-box(data-animate-effect='fadeInLeft')
              h1.fh5co-heading-colored Get in touch
          .row
            .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
              p.fh5co-lead
                | If you want to get in touch with me, click the button underneath to go see my contact information.
              p
                a.btn.btn-primary(href='/contact') Contact
      // jQuery
      script(src='/js/jquery.min.js')
      // jQuery Easing
      script(src='/js/jquery.easing.1.3.js')
      // Bootstrap
      script(src='/js/bootstrap.min.js')
      // Waypoints
      script(src='/js/jquery.waypoints.min.js')
      // Flexslider
      script(src='/js/jquery.flexslider-min.js')
      // MAIN JS
      script(src='/js/main.js')
      // LinkedIn Bracket JS
      script(type='text/javascript', src='https://platform.linkedin.com/badges/js/profile.js', async='', defer='')

