extends layout

block content
      #fh5co-main
        .fh5co-narrow-content
          h2.fh5co-heading(style='font-size:35px;')
            i.icon-info-outline(style='font-size:40px;')
            | Page Not Found
          h2.fh5co-heading Sorry, this page does not exist
